<% content_for :title do %>About<% end %>
<h3>About Michael Lee</h3>
<p>He was born in San Francisco, CA.  Lived many many years in Albuquerque, NM. Currently living Seattle, WA. His interests include Web Development, photography, music and learning new things.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
